/* Style variables */
:root {
    --border-thin: solid 1px gray;
    --color-background: white;
    --color-background-code: whitesmoke;
    --color-text: black;
    --expand: 120%;
    --height-half-line: 0.75ex;
    --width-li-adjust: 1rem;
    --width-ol-adjust: 0.5rem;
    --width-ul-adjust: 0.2rem;
    --width-padding: 5px;
    --width-page: 72rem;
    --width-page-margin: 1rem;
}

/* Page body */
body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: sans-serif;
    font-size: var(--expand);
    line-height: var(--expand);
    margin: var(--width-page-margin);
    max-width: var(--width-page);
}

/* Code snippets */
code {
    background-color: var(--color-background-code);
}

/* Definitions in definition lists */
dd {
    margin-bottom: var(--height-half-line);
}
dd:last-of-type {
    margin-bottom: 0px;
}

/* Footer */
footer {
    border-top: var(--border-thin);
    margin-top: var(--height-half-line);
    padding-top: var(--height-half-line);
    text-align: center;
}

/* Level-1 heading */
h1 {
    text-align: center;
}

/* Other headings */
h2, h3, h4, h5, h6 {
    font-style: italic;
}

/* Ordered lists */
ol {
    margin-left: var(--width-ol-adjust);
    padding-left: var(--width-ol-adjust);
}
ol li {
    margin-left: var(--width-li-adjust);
}

/* Code blocks */
pre {
    border: var(--border-thin);
    padding: var(--width-padding);
    background-color: var(--color-background-code);
}

/* Tables */
table {
    border-collapse: collapse;
    caption-side: bottom;
}
th, td {
    padding: var(--width-padding);
    vertical-align: top;
    border: var(--border-thin);
    min-width: 14rem;
}

/* Unordered lists */
ul {
    list-style-type: disc;
    margin-left: var(--width-ul-adjust);
    padding-left: var(--width-ul-adjust);
}
ul li {
    margin-left: var(--width-li-adjust);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: black;
	--color-background-code: #000040;
        --color-text: white;
	--color-link: lightgray;
    }

    a {
	color: var(--color-link);
    }
}
