<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="icon" type="image/x-icon" href="@root/static/favicon.ico">
    <meta charset="UTF-8">
    {% if css_file %}<link rel="stylesheet" href="@root/static/{{css_file}}" type="text/css">{% endif %}
    <link rel="stylesheet" href="@root/static/page.css" type="text/css">
  </head>
  <body>
    <main>
{{content}}
    </main>
    <footer>
      Copyright &copy; 2024 <a href="@root/contributing.html">the authors</a>
    </footer>
  </body>
</html>
